@CHARSET "UTF-8";

/* * { */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */
video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	
}

.container {
position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

}
.glyphicon-remove {
	color: red;
	
}
h4{
	color: #00FFFF;
}

body {
	background-color: #E0F2F7;
	border: medium;
}

p {
	display: inline-block;
	float: left| right;
	height: 5px;
	width: 150px;
}

th {
	border: 1px solid #2E2E2E;
}

td {
	border: 1px solid #2E2E2E;
	background-color: #E6E6E6;
}
.myInvisible {
	border: 1px solid transparent;
	background-color: #E6E6E6;
}

.home {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.hederOne {
	display: inline-block;
	float: left;
	width: 30%;
	text-align: right;
}

.hederTwo {
	display: inline-block;
	float: left;
	width: 70%;
	text-align: center;
}